.searchtask
  display: inline-block
  position: absolute
  left: 333px
  top: -6px
  float: left

  &__input
    color: white
    font-size: 12px
    right: 0
    width: 150px
    height: 25px
    padding-left: 15px
    $bordercolor = #ba77ff
    border: 1px solid $bordercolor
    background: 0
    outline: 0
    position: absolute
    transition: .3s linear

    &:focus
      font-size: 14px
      color: white
      width: 250px

  &__btn
    filter: invert(100%)
    background: 0
    border: 0
    position: absolute
    top: -1px
    right: 0
    content: url("../../assets/search.png")
