$bgcolor = #ba77ff

.modal
  top: 50%
  left: 50%
  right: auto
  bottom: auto
  margin-right: -50%
  transform: translate(-50%, -50%)
  position: absolute
  $bordercolor = #ba77ff
  border: solid 1px $bgcolor
  padding: 10px
  padding-left: 26px
  z-index: 2
  outline: 0

.overlay
  border: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: black
    opacity: .9
    z-index: 1

.error
  color: red

.render__time
  margin: 5px

  &__input
    font-size: 1em
    display: inline
    width: 22px
    background: 0
    outline: 0
    color: white
    text-align: right
    margin: 1px
    border: 0

    &:focus
      transition: .2s linear
      margin: 0
      border: 1px solid $bgcolor

  &__label
    display: inline

.text__input
  width: 50%
  font-size: 1em
  display: inline
  background: 0
  outline: 0
  color: white
  margin: 5px
  margin-top: 15px
  border: 0
  padding: 2px

  &:focus
    transition: .3s linear
    margin: @margin - 1px
    margin-top: @margin-top - 1px
    border: 1px solid $bgcolor
    width: 75%

.render__buttons__add
  margin-top: 15px
  margin-left: 130px

.render__buttons__edit
  margin-top: 15px
  margin-left:95px

.btn
  color: white
  font-size: .9em
  border: 0
  outline: 0
  height: 35px
  margin: 3px
  background-color: $bgcolor
  border-radius: 5px

  &:hover, &:focus
    cursor: pointer
    background: lighten($bgcolor, 10%)

  &:active
    background: lighten($bgcolor, 20%)
