@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css")
@import './calendar'
@import './add__button'
@import '../src/components/Overview'
@import '../src/components/Menu'
@import '../src/components/Find'
@import '../src/components/Modal'
@import '../src/components/Task'
@import '../src/components/Home'
@import '../src/components/Auth'

html
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) ), url('../../assets/Mounts.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  background-position: top
  font-family: 'Montserrat', 'Raleway', 'Muli', Arial, Helvetica, sans-serif
  background-size: cover

  body
    margin: 20px
    color: white
    position: relative

    a
      color: white
      text-decoration: none

    input
      font-family: 'Montserrat', 'Raleway', 'Muli', Arial, Helvetica, sans-serif

    button
      font-family: 'Montserrat', 'Raleway', 'Muli', Arial, Helvetica, sans-serif
